@font-face {
    font-family: iranYekan;
    src: url("https://maktabkhooneh.org/static/fonts/english_numerals/eot/IRANSansWeb.eot?");

}
*{
    font-family: iranYekan;
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    list-style-type: none;
}
/*  Variables   */
:root{
 --primaryColor: #6d28d9;
 --secondaryColor: #ede9fe;
 --mainWhite: #fff;
 --mainBlack: #222;
 --mainGray: #7c7c7c;
 --mainSpacing: 0.1rem;
 --mainTransition: all .3 linear ;
--mainRed:#db2777;
--bodyColor:#f6f6f6;
}
body{
    font-family: iranYekan;
    color: var(--mainBlack);
    background-color: var(--bodyColor);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.todo-container{
    width: 25rem;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.form-container {
    display: flex;
}
form{
    width:25rem;
    display: flex;
    justify-content: space-between;
    background-color: white;
}
form input{
    flex: 1;
}

form input,form button{
    outline: none;
    border: none;
    background-color: var(--mainWhite);
    font-size: 1rem;
    padding: .5rem;
}

form button{
    color: var(--primaryColor);
    cursor: pointer;
    transition: all .3s ease-out;
}

form button:hover{
    background-color:var(--primaryColor) ;
    color: var(--mainWhite);
    border-radius:5px;
}

.todo {
    display: flex;
    background-color: var(--secondaryColor);
    align-items: center;
    justify-content: space-between;
    margin: 0.3rem 0;
    transition: all .3s ease;
}
.todo li{
    flex: 1;
    font-weight: bold;
    color: var(--primaryColor);
    padding-left: .5rem;
}
.todo span{
    display: block;
    font-size: 1rem;
    padding: .5rem;
    cursor: pointer;
}
.fa-trash-can{
    color: var(--mainRed);
}
.fa-square-check{
    color: var(--primaryColor);
}
.completed{
    text-decoration-line: line-through;
    opacity: 0.5;
}
select{
    appearance: none;
    border: none;
    outline: none;
    width: 100%;
    padding:1rem ;
    color: var(--primaryColor);
}
.select{
    margin-right: 1rem ;
    background-color: #fff;
    cursor: pointer;
    width: 10rem;
    font-weight: bold;
    position: relative;
}
.select::after{
    content: "\25bc";
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    color:  var(--primaryColor);
    pointer-events: none;
}